@page "/"
@inherits IndexViewModel
@implements IDisposable

<p>
    <label>
        Scroll Tracking is : @IsScrollTrackingEnabled
    </label>
</p>

<p>
    <button @onclick="ToggleDotNetTrackScroll">
        Toggle scroll tracking on or off
    </button>
</p>

<div class="container">Scroll down!</div>
